In [ ]:
'''
Ex.2) Đọc file Data - Single Worksheet.xlsx và thực hiện các thống kê sau:
    - Khảo sát xem file có bao nhiêu dòng, bao nhiêu côt?
    - Xuất ra 3 dòng đầu của data để xem thử?
    - Xuất ra list tên cột của data?
    - Kiểm tra data có missing không? tính số lượng missing ở các cột tương ứng nếu có?
    - Tạo một dataframe gồm 4 cột: city, số người, số lượng nam và số lượng nữ ở 
    tương ứng mỗi thành phố.
    - Thêm cột tỉ lệ nam và nữ vào data vừa tạo.
'''

In [15]:
# Đọc file Data - Single Worksheet.xlsx
import pandas as pd
file_single_worksheet = pd.read_excel(r'D:\MyNT_Exercises_Python\DATA\Data - Single Worksheet.xlsx')
print(file_single_worksheet)

   First Name Last Name           City Gender
0     Brandon     James          Miami      M
1        Sean   Hawkins         Denver      M
2        Judy       Day    Los Angeles      F
3      Ashley       NaN  San Francisco      F
4   Stephanie     Gomez       Portland      F
5         Tom     James          Miami      M
6       Jerry   Hawkins         Denver      F
7       Donal       NaN    Los Angeles      M
8       Marry      Ruiz  San Francisco      F
9       Shara     Gomez       Portland      F
10      Cindy       Day          Miami      F
11      Nazza      Ruiz         Denver      M

In [16]:
# Thực hiện thống kê:
# - Khảo sát xem file có bao nhiêu dòng, bao nhiêu côt?
file_single_worksheet.shape

(12, 4)

In [28]:
# - Xuất ra 3 dòng đầu của data để xem thử?
# Hàm .head() mặc định sẽ hiển thị ra 5 quan sát đầu tiên của dataframe
# In ra 3 dòng đầu: .head(n=3)
file_single_worksheet.head(n=3)

  First Name Last Name         City Gender
0    Brandon     James        Miami      M
1       Sean   Hawkins       Denver      M
2       Judy       Day  Los Angeles      F

In [57]:
# Hàm .head() mặc định sẽ hiển thị ra 5 quan sát đầu tiên của dataframe
file_single_worksheet.head()

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley       NaN  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [58]:
#.tail() hiển thị 5 mục cuối cùng (có chọn số lượng: .tail() (n=số lượng))
file_single_worksheet.tail(n=1)

   First Name Last Name    City Gender
11      Nazza      Ruiz  Denver      M

In [59]:
#.sample() hiển thị một mục ngẫu nhiên cuối cùng (có chọn số lượng: .sample (n=số lượng))
file_single_worksheet.sample()

  First Name Last Name           City Gender
8      Marry      Ruiz  San Francisco      F

In [62]:
#Hàm df.info() sẽ cho ta biết định dạng và số lượng quan sát not-null của mỗi trường trong dataframe.
file_single_worksheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  12 non-null     object
 1   Last Name   10 non-null     object
 2   City        12 non-null     object
 3   Gender      12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

In [68]:
# - Xuất ra list tên cột của data?
list(file_single_worksheet.columns)

['First Name', 'Last Name', 'City', 'Gender']

In [1]:
 # - Tạo một dataframe gồm 4 cột: city, số người, số lượng nam và số lượng nữ ở tương ứng mỗi thành phố.
 # Đọc dữ liệu từ file excel, nếu có nhiều sheet thì sử dụng:
 # df = pd.read_excel('path_to_excel_file.xlsx', sheet_name='sheet_name')
# Thay đổi 'path_to_excel_file.xlsx' thành đường dẫn đến tệp Excel của bạn
# và 'sheet_name' thành tên của sheet chứa dữ liệu
# Đọc dữ liệu từ file excel

 import pandas as pd
 import os

 #Dường dẫn đến tệp Excel
 file_path = "Data - Single Worksheet.xlsx"
sheet_name = "New_Data_Frame"
 # Đọc dữ liệu từ file excel
 data_frame = pd.read_excel("Data - Single Worksheet.xlsx")   
#Sử dụng groupby và agg để tổng hợp dữ liệu theo thành phố
# Ta sẽ tính tổng số người, số lượng  nam và số lượng nữ cho mỗi thành phố, lambda là một biểu thức hàm vô danh, sử dụng đơn giản không cần đặt tên
result_data_frame = data_frame.groupby('City').agg(
    Number_of_people = ('Gender', 'size'),    # tính tổng số lượng người trong một thành phố
    Number_of_male = ('Gender', lambda x: (x == 'M').sum()),   #đếm số lượng nam trong thành phố
    Number_of_female = ('Gender', lambda x: (x == 'F').sum())  #đếm số lượng nữ trong thành phố
).reset_index()    #reset index để làm cho Dataframe mới trông gọn hơn

#in kết quả ra màn hình
print(result_data_frame)

'''
# Ghi dữ liệu vào file excel mới tạo
writer = pd.ExcelWriter('mul_sheets.xlsx', mode='w', engine='openpyxl')
data_frame.to_excel(writer, sheet_name='New_Data_Frame')
'''
'''
data_frame = pd.DataFrame({'col_1': [2, 3, 4, 5]})
sheet_names = ['New_Data_Frame']

with pd.ExcelWriter('mul_sheets.xlsx', mode='a', if_sheet_exists='new', engine='openpyxl') as writer:
    for df, sheet_name in execfile([data_frame], New_Data_Frame):
        df.to_excel(writer, New_Data_Frame)
'''
        #df.to_excel(output_file_path+"new_Data - Single Worksheet.xlsx")

        # Lưu file excel
df.to_excel('new_Data - Single Worksheet.xlsx', index = False)

            City  Number_of_people  Number_of_male  Number_of_female
0         Denver                 3               2                 1
1    Los Angeles                 2               1                 1
2          Miami                 3               2                 1
3       Portland                 2               0                 2
4  San Francisco                 2               0                 2

NameError: name 'df' is not defined

In [24]:
# - Thêm cột tỉ lệ nam và nữ vào data vừa tạo.

import pandas as pd

# Đọc dữ liệu từ file Excel
data_frame = pd.read_excel("new_Data - Single Worksheet.xlsx")

# Thêm cột tỉ lệ nam và tỉ lệ nữ
data_frame['Male Percentage'] = (data_frame['Number_of_male'] / data_frame['Number_of_people']) * 100
data_frame['Female Percentage'] = (data_frame['Number_of_female'] / data_frame['Number_of_people']) * 100

# Ghi dữ liệu vào file Excel
#with pd.ExcelWriter('Data - Single Worksheet.xlsx', engine='openpyxl', mode='a') as writer:
 #   data_frame.to_excel(writer, sheet_name='New_Data_Frame', index=False)

KeyError: 'Number_of_male'