In [ ]:
'''
Ex.6) Load data "flight_details.csv" và thực hiện thống kê sau: 
  - Tạo bảng thống kê với month là index và năm là cột giá trị bên trong bảng 
  là số hành khách tương ứng. 
  - Hãy chọn 1 loại chart thích hợp có thể biểu thị được số lượng hàng khách 
  theo năm và theo tháng tương ứng của mỗi năm. 
'''

In [3]:
#load dữ liệu vào từ file csv
import pandas as pd
df = pd.read_csv("flight_details.csv", sep=",", header = 0, index_col = None)
df

     Years     Months  Passengers
0     2001    January         112
1     2001   February         118
2     2001      March         132
3     2001      April         129
4     2001        May         121
..     ...        ...         ...
139   2012     August         606
140   2012  September         508
141   2012    October         461
142   2012   November         390
143   2012   December         432

[144 rows x 3 columns]

In [4]:
#  - Tạo bảng thống kê với month là index và năm là cột giá trị bên trong bảng là số hành khách tương ứng. 
 create_table with index = month

IndentationError: unexpected indent (2970075104.py, line 2)